<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StreamInsight_Instance" value="default"/>
    <add key="StreamInsight_ServiceHost" value="http://localhost:8090/default"/>
    <add key="StreamInsight_Application" value="twilioAnalytics"/>
    <add key="SignalR_Base_Url" value="http://localhost:9876"/>
    <add key="RabbitMQ_Host" value="disorderlydata.cloudapp.net"/>
    <add key="RabbitMQ_VirtualHost" value=""/>
    <add key="RabbitMQ_UserName" value="guest"/>
    <add key="RabbitMQ_Password" value="guest"/>
    <add key="RabbitMQ_Port" value="5672"/>
    <add key="RabbitMQ_Exchange" value="cep"/>
    <add key="RabbitMQ_Queue" value="cep"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>